Scaling

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler,MaxAbsScaler

In [2]:
d={'Age':[20,43,34,30,41],
      'height':[121,134,131,342,132],
      'weight':[50,70,64,80,90]}

In [3]:
data=pd.DataFrame(d)
data

   Age  height  weight
0   20     121      50
1   43     134      70
2   34     131      64
3   30     342      80
4   41     132      90

In [10]:
# scaler=StandardScaler()
scaler=MinMaxScaler()
# scaler=MaxAbsScaler()
data=scaler.fit_transform(data)

In [11]:
data

array([[0.        , 0.        , 0.        ],
       [1.        , 0.05882353, 0.5       ],
       [0.60869565, 0.04524887, 0.35      ],
       [0.43478261, 1.        , 0.75      ],
       [0.91304348, 0.04977376, 1.        ]])

In [12]:
df=pd.DataFrame(data)
df

          0         1     2
0  0.000000  0.000000  0.00
1  1.000000  0.058824  0.50
2  0.608696  0.045249  0.35
3  0.434783  1.000000  0.75
4  0.913043  0.049774  1.00